################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlatformService/.vs/PlatformService
/PlatformService/PlatformService.Web/obj
/.vs
/PlatformService/.vs/ProjectEvaluation
/PlatformService/PlatformService.Web/bin/Debug/net6.0
